* {
    box-sizing: border-box;
}

#page-container {
    height: 99vh;
}

/* div {
    border: 1px solid black;
} */

.letter-card {
    margin: 30px;
}

#hangman {
    background-color: purple;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#scores-col {
    padding: 5% 0 0 5%;
}

#title {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#word-row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.alert {
    width: 100%;
}

.card-body {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h5 {
    width: 20px;
}